<ul class="navbar-nav mr-auto" xmlns:th="http://www.thymeleaf.org">
    <li class="nav-item">
        <a href="/home" th:href="@{/home}" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
        <a href="/greeting" th:href="@{/greeting}" class="nav-link">Greeting</a>
    </li>
    <li class="nav-item">
        <a href="/adress" th:href="@{/adress}" class="nav-link">Adress</a>
    </li>
    <li class="nav-item">
        <a href="/adresse" th:href="@{/adresse}" class="nav-link">Adresse</a>
    </li>
</ul>